
<!DOCTYPE html>
<html>
<title>under construction</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="../assets/libs/angular.min.js" type="text/javascript" sync></script>
<script src="../assets/libs/angular-route.js" type="text/javascript" sync></script>
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif;background-color: #bdbdbd}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity">
  <h1>This site is under construction</h1> 
  <!-- <h1>Devesh Chatuphale</h1> -->
	<!-- <h3>Fullstack Developer | FOSS enthusiast | Percussionist</h3> -->
  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
      <!-- <a href="#" class="w3-bar-item w3-button">Blog</a> -->
	  <!-- <a href="https://www.visualcv.com/deveshc" class="w3-bar-item w3-button">View my profile</a> -->
      <!-- <a href="#" class="w3-bar-item w3-button">About me </a> -->
     <!--  <a href="#" class="w3-bar-item w3-button">Contact</a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small">Weddings</a> -->
    </div>
  </div>
  
  <!-- <div ng-app="mysite">
				<div ng-view></div>
		</div> -->
  
</header>
	<!-- <div class="w3-container w3-padding-64 w3-light-grey w3-center w3-large">
		<span style="margin-left:10px; margin-right:10px"><a href="https://www.linkedin.com/in/dcdevesh3"><i class="fa fa-linkedin w3-hover-opacity fa-5x"></i></a></span>
		
		<span style="margin-left:10px; margin-right:10px"><a href="http://www.github.com/deveshchatuphale7"><i class="fa fa-github w3-hover-opacity fa-5x"></i></a></span>

  </div> -->
<!-- Photo Grid -->
<div class="w3-row-padding w3-grayscale" style="margin-bottom:128px">

  </div>
  <div class="w3-half">

  </div>
</div>	
	
<!-- End Page Content -->
</div>

<!-- Footer -->
<!-- <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large"> -->
  
<!-- </footer> -->

</body>
</html>

<!--
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

   <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
-->
